<div class="card card_align" *ngFor="let item of linkedInList;let i=index">
    <p> {{item.inputText}}</p>
   
    <div class="mb-3">
        <!-- <button type="button" class="btn btn-link" [ngStyle]="{'color':(list.highlightTrue ||  (highlightTrue && likeindex == i)) ? 'blue': ''}" (click)="SaveLinke(i,item.id,item.highlightTrue)">Like</button><span>{{item.linkedInLikes.length}}</span> -->
        <button type="button" class="btn btn-link" (click)="SaveLinke(i,item.id,item.highlightTrue)">Like</button><span>{{item.linkedInLikes.length}}</span>
        <button type="button" class="btn btn-link" (click)="showComments(i)">Comment</button><span>{{item.linkedInComments.length}}</span>
        <button type="button" class="btn btn-link" (click)="deleteLinked(i,item.id)">Delete</button>
        
    </div>
    <div *ngIf="">
        <div class="preview">
            <img [src]="item.imageBase64" [alt]="">
          </div>
    </div>


    <div class="mb-3" *ngIf="currentIndex === i">
        <form #commentsForm="ngForm">
            <label for="comments" class="form-label">Comments</label>
            <input type="text" #commentsText=ngModel class="form-control" id="comments" name="commentsText" [(ngModel)]="linkedInCommentsData.comments" placeholder="Enter Comments" required>
            <span class="errormsg" *ngIf="isComments===true && commentsText.invalid ">Please Enter Comments Required</span>
            <button type="button" class="btn btn-link" (click)="SaveComments(commentsForm,i,item.id)">Post Comment</button>
        </form>
        <div *ngFor="let itemCmt of item.linkedInComments">
            <p class="cmntdiv">{{itemCmt.comments}}</p> 
            <!-- <a type="button" class="btn btn-link" (click)="deletLinkedinComments(i,itemCmt.postId)">Delete</a> -->
        </div> 
    </div>
    
   
</div>